#IGNORING BY PUBLISHING SIMPLEVENT V2
#ignore modules
node_modules

#ignore compile config files
babel.config.json
webpack.config.js
gulpfile.js

#ignore jsx files for wp blocks
temp/sess_11gj1ou0cgl64l26pelbvc3smq
temp/sess_5ai47jpa404423aqgi7d6dlepb
temp/sess_6r82ae6j46hrb0osm5lsk9bt6c
temp/sess_7jq38d0liansn5rvura4d6bdrf
temp/sess_f6c0egl8sdmko8alcr8fclc8fs
temp/sess_h9eo6g2929sr0qbpsg46aj9uo6
temp/sess_lvvppkaa2mvarl07f27hhipp13
temp/sess_mg6npt5qqsbus3noom94s2c76u
temp/sess_uub4f3t2qgg3e323t097eapktm
temp/sess_vn77io2r37dgcga89sndooenou
