@import 'components/variables';
@import 'components/reset';
@import 'components/responsive';
@import 'components/fonts';
@import 'components/elements';
@import 'components/socialmedia';

@import 'components/loader';
* {
    transform: all();
    transition-duration: 200ms;
}


html {  scroll-behavior: smooth; }

#master-container {
     width: 100vw;
     /* max-width:1848px; */
     position: absolute; 
     top: 80px;
     left: 0;
     right: 0;
     margin: auto;
     background-color:var(--secondColor);
     min-height: calc(100vh - 80px);
     @include breakpoint( 's' ){
          overflow-x: hidden;
          top: 16vw;
     }
     
     #content-container {

          min-height: calc(100vh - 320px);
     }
}

.se-loader {
     min-height:40vh;
     width:100%;
}
 

@import 'components/header';
@import 'components/footer'; 

@import 'components/posts';
@import 'components/people';
@import 'components/partner';
@import 'components/lineup';
@import 'components/programm';

//BLOCKS Theme-specific
@import 'components/blocks/testimonial';
@import 'components/blocks/add-block-style';


