.se2-app-promo-header {
     background-color: $primary;
     color: var(--dark);
     height: 25px;
     display: flex;
     align-items: center;
     font-weight: 800;
     padding: 6px 20px;
     text-transform: uppercase;
     justify-content: center;
     overflow: hidden;

}