.finalist-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     width:100%;
     margin-top:50px;
}

.finalist-box {
     width:31%;
     margin:1%;
     border: 1px solid var(--shadeColor);
     border-radius:5px;
     padding:5px;
     @include breakpoint( 'm' ){
          width:48%;
     }
     @include breakpoint( 's' ){
          width:98%;
     }

     .finalist-box-logo {
          @include dropShadow;
          background-color: $light;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 120px;
          width: 120px;
          position:sticky;
          margin: auto;
          top: 0;
          left: 0;
          transform: translateY(-15%);
          img {
               height: auto;
               max-height: 80%;
               max-width: 80%;
               width: auto;
          }
          .finalist-box-winner-flag {
               background-color: $primary;
               color: $light;
               padding: 2px 8px;
               border-radius: 3px;
               position: absolute;
               bottom: -8px;
          }
     }
     .finalist-winner-class {
          border:solid 3px $primary;
     }

     text-align: center;
     h4{margin-top: 15px;}
     &:hover {
          @include dropShadow;
          .finalist-box-logo {
               -webkit-box-shadow: unset; 
               box-shadow: unset;
               transform: scale( 1.1 );
               background-color: unset;
          }
          .finalist-box-winner-flag {
               opacity: 0;
               transform: scale( 1.2 );
          }
          .finalist-winner-class {
               border:unset;
           
          }
     }
}

.hall-of-fame-jahr {
     margin-top:50px;
     h3 {
          text-align:center;
     }
}

.candidate-box {
     cursor: pointer;
}

//LIGHTBOX
.candidate-lb-container {
     position: fixed;
     top:0;
     left:0;
     width:87vw;
     height:100vh;
     background-color:var(--secondColor);

     .candidate-logo {
          
          background-color: $light;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 200px;
          width: fit-content;
          margin-left:15%;
          margin-top:5%;
          position: relative;
          
          img {
               height: auto;
               max-height: 80%;
               max-width: 80%;
               width: auto;
          }
          .candidate-winner-flag {
               background-color: $primary;
               color: $light;
               padding: 4px 10px;
               border-radius: 0;
               position: fixed;
               left: 0;
               width: 100%;
               top:0px;
               text-transform: uppercase;
               text-align: center;
               font-size: 130%;
          }
     }
     .has-mood {
          @include dropShadow;
          position:absolute;
          height: 150px;
          width: 150px;
          right: 10%;
          top: 10vh;
          transform: translateY(-15%);
          .candidate-winner-flag {
               padding: 2px 8px;
               border-radius: 3px;
               position: absolute !important;
               left:unset;
               bottom: -8px;
               width: auto;
               height:fit-content;
               font-size: 120%;
          }
     }

     .candidate-lb-head {
          
          .candidate-lb-image {
               width:100%;
               height:20vh;
               min-width:220px;
               min-height:250px;
               @include imageSettings;
          }
     }
     .candidate-lb-content {
          height: 70vh;
          padding:5% 15%;
          width:100%;
          overflow-y: scroll;
          @include hideScrollbar;

          .candidate-finalist-image {
               @include imageSettings;
               float: left;
               margin: 0 20px 20px 0;
               width:clamp(  400px, 30vw, 100% );
               height:clamp(  250px, 18vw, 100% );
               @include breakpoint( 'm' ){
                    width: 100%;
                    height: 35vw;
               }
          }

          .candidate-lb-sponsors{
               margin-top:20px;
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: center;
               h6:first-of-type{
                    width:100%;
                    text-align: center;
               }

               .candidate-lb-sponsor{
                    width:20%;
                    margin:20px 20px;
                    min-width:80px;
                    img {
                         width:100%;
                    }
               }
          }
     }


}