
//------------------------------
//BUTTONS
//------------------------------
button {
    border: none;
    text-decoration: none;
    padding:5px;
    background:var(--primeColor);
    background-color:var(--primeColor);
    color:var(--secondColor);

    &:focus,
    &:hover {
        cursor: pointer;
        border: none;
        text-decoration: none;
        background:var(--primeColor);
        background-color:var(--primeColor);
        color:var(--secondColor);
    }

    &:focus {
        outline: 0px solid #fff;
        outline-offset: 0;
    }
}

//------------------------------
//LIGHTBOX
//------------------------------
.se-lightbox-container {
    z-index: 100000;
    position: fixed;
    top:0; left:0;
    width:100vw; height:100vh;

    .se-lightbox-closerBackground {
        
        backdrop-filter: blur(40px);

        height:100%; width:100%;
    }

    .se-lightbox-closerCross {
        position: absolute;
        right:5vw; top:5vw;
        height:25px; width:25px;
        cursor: pointer;
        z-index: 100000;
        
        &::before {
            color: $dark;
            font-family: "dashicons";
            
            content: "\f335";
            vertical-align: middle;  
            padding-right:25px;
            font-size: 50px;
        }
        svg {
            -webkit-filter: drop-shadow(0px 2px 4px var(--secondColor));
            filter: drop-shadow(0px 2px 4px var(--secondColor));
            line{
                stroke:var(--primeColor) !important;
                
            }
        }
        &:hover {
            transform: scale(.8);
            cursor: pointer;
        }
    }
}

.se-lightbox-IMG {
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    margin:auto;
    width: clamp( 30%, auto, 80%);
    max-width: 80%;
    max-height:80%;
    height: clamp( 30%, auto, 80%);

}

//------------------------------
//DROPDOWNS
//------------------------------
select {
     // A reset of styles, including removing the default dropdown arrow
     //appearance: none;
     
     // Additional resets for further consistency
     background-color: transparent;
     border: none;
     padding: .2 1em .2 0;
     margin: 0 5px 0 0;
     width: 100%;
     font-family: inherit;
     font-size: inherit;
     cursor: pointer;
     line-height: inherit;
     outline: none;

     option {
          background-color: var(--shadeColor);
          
     }
    
}

//------------------------------
//SPLIDER
//------------------------------
.splide {
    .se2-speaker-grid-profile {
        width:100%;
    }
}

.se2-class-arrows {
    .se2-class-arrow {
        background: unset;
    }
}

.se2-class-pagination {

    .is-active {
        background:$primary !important;
    }
}

//gallery
.gallery-splide{
    .gallery-splide-main {
        height:500px;
        .splide__slide div {
            @include imageSettings;
            height:100%;
            width:100%;
        }
    }
    .gallery-splide-thumb {

        .splide__slide {
            opacity: 0.3;
            img {
                width: 100%;
                height: auto;
            }
        }
        
        .splide__slide.is-active {
            opacity: 1;
        }

    
    }
    .splide__track {
        margin:20px 0;
    }
}


