
//------------------------------
//BUTTONS
//------------------------------
button {
    border: none;
    text-decoration: none;
    padding:5px;
    background:var(--primeColor);
    background-color:var(--primeColor);
    color:var(--secondColor);

    &:focus,
    &:hover {
        cursor: pointer;
        border: none;
        text-decoration: none;
        background:var(--primeColor);
        background-color:var(--primeColor);
        color:var(--secondColor);
    }

    &:focus {
        outline: 0px solid #fff;
        outline-offset: 0;
    }
}

//------------------------------
//LIGHTBOX
//------------------------------
.se-lightbox-container {
    z-index: 100000;
    position: fixed;
    top:0; left:0;
    width:100vw; height:100vh;

    .se-lightbox-closerBackground {
        
        backdrop-filter: blur(40px);

        height:100%; width:100%;
    }

    .se-lightbox-closerCross {
        position: absolute;
        right:5vw; top:5vw;
        height:25px; width:25px;
        cursor: pointer;
        svg {
            -webkit-filter: drop-shadow(0px 2px 4px var(--secondColor));
            filter: drop-shadow(0px 2px 4px var(--secondColor));
            line{
                stroke:var(--primeColor);
                
            }
        }
        &:hover {
            transform: scale(.8);
            cursor: pointer;
        }
    }
}


//------------------------------
//DROPDOWNS
//------------------------------
select {
     // A reset of styles, including removing the default dropdown arrow
     //appearance: none;
     
     // Additional resets for further consistency
     background-color: transparent;
     border: none;
     padding: .2 1em .2 0;
     margin: 0 5px 0 0;
     width: 100%;
     font-family: inherit;
     font-size: inherit;
     cursor: pointer;
     line-height: inherit;
     outline: none;

     option {
          background-color: var(--shadeColor);
          
     }
    
}

