
/*---------------------------------------------------
---------------------FONTS---------------------------
---------------------------------------------------*/

html { font-size: 100%;  }

/*FONTSIZE*/
body {}
h1   { font-size: clamp( 3rem, 5.5vw, 4.5rem ) ;  }
h2   { font-size: clamp( 2.25rem, 4vw, 3.75rem ) ; }
h3   { font-size: clamp( 2rem, 3.25vw, 3.25rem ) ; }
h4   { font-size: clamp( 1.75rem, 2.75vw, 2.75rem ) ; }
h5   { font-size: clamp( 1rem, 1vw, 1.5rem ) ; }
h6   { font-size: clamp( .8rem, .8vw, 1.2rem ) ; }
p    { font-size: clamp( 1rem, 1vw, 1.5rem ) ; line-height: clamp( 1.5rem, 1vw, 2rem ); }
blockquote { font-size:1.1rem !important; }

h1, h2, h3, h4, h5, h6, p, blockquote { margin-bottom: clamp( 1.5rem, 1vw, 2rem ); }



body { 
    color:var(--primeColor); 
    
}

h1 { color: var(--primeColor);  }
h2 {   }
h3 {  }

blockquote { line-height: 1.5 }

p { 
     color: var(--midColor); 
     
     
     font-weight: 200;
     
     a {
          font-weight: bold;
          &:hover {
               color: $secondary;
          }
     }
}

a {
    color:unset;
    text-decoration: none;
    font-size: inherit; 
}

ul {
     padding:2rem;
     li {
          margin:.5rem 0px;
     }
}

 
