
/*---------------------------------------------------
---------------------FONTS---------------------------
---------------------------------------------------*/

html { font-size: 100%;  }



body { 
    color:var(--primeColor); 
    
}

h1 { color: var(--primeColor); font-weight: bold; font-size:4rem !important; margin-bottom:1em; }
h2 { font-size:2.5rem !important; margin-bottom:1em; }
h3 { font-size:2rem !important; margin-bottom:1em; }

blockquote { font-size:1.1rem !important; line-height: 1.5 }

p { 
     color: var(--midColor); 
     margin-bottom:1rem; 
     font-size: .9rem;
     font-weight: 200;
     line-height: 2rem;
     a {
          font-weight: bold;
          &:hover {
               color: $secondary;
          }
     }
}

a {
    color:unset;
    text-decoration: none;
    font-size: inherit; 
}

ul {
     padding:2rem;
     li {
          margin:.5rem 0px;
     }
}

 

@media only screen and (max-width: 800px) {
     html { font-size: 80%;  }
     p, ul, li, span { font-size: 1.1rem; line-height: 2rem; }
}
@media only screen and (max-width: 600px) {
     html { font-size: 60%;  }
     p, ul, li, span { font-size: 1.6rem; line-height: 3rem;}
}
@media only screen and (max-width: 500px) {
     html { font-size: 50%;  }
     p, ul, li, span { font-size: 2rem; line-height: 4rem;}
}
@media only screen and (max-width: 400px) {
     html { font-size: 40%;  }
     h1 { font-size:3.5rem !important;  }
     h2 { font-size:3rem !important;  }
     h3 { font-size:2.4rem !important;  }
     p, ul, li, span { font-size: 2.2rem; line-height: 4.5rem;}
}