footer {
     width:100vw;
     max-height:500px;
     background-color: $dark_shade;
     color: $light;
     padding: 15px 5vw;
     font-size: .8em; 
     @include breakpoint( 's' ){
          max-height:unset;
     }
     
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;

     .footer-contact-container {
          width:fit-content;
          p {
               color: $light;
               opacity: .6;
               font-weight: 200;
          }
         
          a { 
               .footer-logo-negativ {
                    max-width:120px;
                    max-height:80px;
                    margin: 10px 0;
               }
          }
          .copyright {
               margin-top:15px;
          }
     }
     .footer-partner-container {
          max-width:60%;
          display: flex;
          flex-wrap: wrap;
          @include breakpoint( 's' ){
               width:100%;
               max-width:unset;
          }
          
          .footer-partner-categorie {
               margin-left:50px;
               @include breakpoint( 's' ){
                    margin-left:0px;
                    margin-top:25px;
                    margin-bottom:10px;
                    width:100%;
               }
               .footer-partner-categorie-title {
                    color:$light_shade;
                    opacity: .6;
                    font-weight: 200;
                    @include breakpoint( 's' ){
                         text-align: center;
                         width: 100%;
                    }
               }
               .footer-partner-logo-container{
                    display: flex;
                    align-items: center;
                    @include breakpoint( 's' ){
                         justify-content: center;
                    }
                    a {
                         height:fit-content;
                    }
                    img {
                         margin-top:5px;
                         margin-right:20px;
                         max-width:110px;
                         max-height:45px;
                         @include breakpoint( 's' ){
                              margin-right:15px;
                              margin-left:15px;
                         }
                    }
               }
               
          }

     }

     .footer-menu-container {
          width:100%;
          border-top:1px solid rgba(255,255,255,.6);
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top:8px;
          padding-top:8px;
          flex-wrap: wrap;

          p {
               color: $light;
               opacity: .6;
               &:hover {
                    color:$secondary;
                    opacity: 1;
               }
          }
          a {margin:0 5px;}
     }
    


}