footer {
     width:100vw;
     max-height:500px;
     background-color: $dark_shade;
     color: $light;
     padding: 15px 5vw;
     font-size: .8em; 

     display:flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;

     .footer-contact-container {
          width:fit-content;
          a { 
               .footer-logo-negativ {
                    max-width:120px;
                    max-height:80px;
                    margin: 10px 0;
               }
          }
          .copyright {
               margin-top:15px;
          }
     }
     .footer-partner-container {
          max-width:60%;
          display: flex;
          flex-wrap: wrap;
          .footer-partner-categorie {
               margin-left:50px;
               .footer-partner-logo-container{
                    display: flex;
               }
               img {
                    margin-top:10px;
                    max-width:75px;
                    max-height:50px;
               }
          }

     }

     .footer-menu-container {
          width:100%;
          border-top:1px solid var(--midColor);
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top:8px;
          padding-top:8px;
          flex-wrap: wrap;

          p {
             
               &:hover {
                    color:$secondary;
               }
          }
     }
    


}