footer {
     width:100vw;
     max-height:500px;
     background-color: $dark_shade;
     color: $light;
     padding: 25px 5vw 0;
     font-size: .8em; 
    
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;

     @include breakpoint( 's' ){
          max-height:unset; 
     }

     .footer-contact-container {
          width:fit-content;
          p {
               color: $light;
               opacity: .6;
               font-weight: 200;
               font-size: 1em;
               line-height:1.5em;
               margin-bottom:0;
          }
         
          a { 
               .footer-logo-negativ {
                    max-width:120px;
                    max-height:80px;
                    margin: 10px 0;
                    @include breakpoint( 's' ){
                         max-width: 360px; 
                         max-height:160px;  
                         width: 50%; 
                    }
               }
          }

         

          .copyright {
               margin-top:15px;
          }

          @include breakpoint( 's' ){
               line-height:1.8em; 
               width:100%;
               border-bottom: 1px solid $dark;    
          }

     }
     .footer-partner-container {
          max-width:60%;
          display: flex;
          flex-wrap: wrap;
          @include breakpoint( 's' ){
               width:100%;
               max-width:unset;
          }
          
          .footer-partner-categorie {
               margin-left:50px;
               @include breakpoint( 's' ){
                    margin-left:0px;
                    margin-top:25px;
                    margin-bottom:10px;
                    width:100%;
               }
               .footer-partner-categorie-title {
                    color:$light_shade;
                    opacity: .6;
                    font-weight: 200;
                    font-size: 1em;
                    @include breakpoint( 's' ){
                         text-align: center;
                         width: 100%;
                    }
               }
               .footer-partner-logo-container{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    @include breakpoint( 's' ){
                         justify-content: center;
                    }
                    a {
                         height:fit-content;
                    }
                    img {
                         margin-top:5px;
                         margin-right:30px;
                         margin-bottom:20px;
                         max-width:110px;
                         max-height:45px;
                         @include breakpoint( 's' ){
                              margin-right:20px;
                              margin-left:15px;
                         }
                    }
               }
               
          }

     }

     .footer-menu-container {
          width:100%;
          border-top:1px solid rgba(255,255,255,.6);
          display: flex;
          flex-direction: row;
          align-items:center;
          justify-content: space-between;
          margin-top:8px;
          margin-bottom:10px;
          padding-top:8px;
          flex-wrap: wrap;

          .footer-menu {
               display: flex;
               flex-wrap: wrap;
               p {
                    color: $light;
                    font-size: 1em;
                    opacity: .6;
                    margin-bottom:0px;
                    &:hover {
                         color:$secondary;
                         opacity: 1;
                    }
               }
               a {margin:0 5px;}
          }

          #footer_socialmedia {
               margin:2px 0 0;
               display: flex;
               flex-direction: row;
               justify-content: center;
               a svg{ 
                    width:30px;
                    height:30px;
                    
                    &:hover {
                         transform: scale(1.2);
                         .st0 { fill:$light_shade; }
                         .st1 { fill:$primary; }
                    }
               }
          }
     }
    
     

}