

header { 
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    width:100vw;
    height:80px;
    
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    

    @include breakpoint( 's' ){
          height:16vw;
     }

    //------------------------------
    //LOGO
    //------------------------------
    .header-logo {
          left:10%;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          max-height:40px;
          width: var(--headerLogoWidth);
          @include breakpoint( 's' ){
               left:5%;
               top:0px;
               max-height:50px;
               width: 40%;
          }

          a img {
               height:100%;
          
               max-width:100%;
          }
    }

    //------------------------------
    //NAVIGATION MENU
    //------------------------------
     #mobile-menu-wrapper {
          position: fixed;
          height:100vh;
          width:100vw;
          bottom:0;
          left:0;
          color: var(--primeColor);
          background-color: var(--secondColor);
          z-index:800;
     }

    .se2-navigation {
          height: 90%;
          width:80%;

          ul{
               padding:0;
               li{
                    margin:0;
               }
          }
     
          @include breakpoint( 's' ){
               position: absolute;
               margin: auto;
               top:0; right:0; bottom:0; left:0;
               overflow-y:scroll;
               
               max-height:80%;
               width: 100%;
         
               li{
                   
            
               }
          }

        .se2-current.current-menu-parent,
        .current-menu-parent,
        .se2-current.current_page_item {
            border-bottom: 4px solid $secondary;
            @include breakpoint( 's' ){
               border-bottom: unset;
               color: $primaryText;
               background-color: $primary !important;
              
               .se2-sub-menu {
                background-color: $primary !important;
               }
            }
        }

        .menu {
            height: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            align-content: flex-end;
            justify-content: flex-end;
            @include breakpoint( 's' ){
               width:100%;
               display: block;
           
   
           }

            .se2-lvl-1-item {
                width:fit-content;
                display: flex;
                align-items:center;
                height:35px;
                padding: 0 20px;

                @include breakpoint( 's' ){
                    width:100%;
                    display: block;
                    height:fit-content;
                    padding: 15px 10%;
                    background-color:  var(--shadeColor);
                    border-bottom:2px solid var(--secondColor);
                }
                /* border-left:1px solid var(--midColor); */
                &:hover {  border-bottom: 0px solid $primary; }

                &:hover {
                    .se2-sub-menu {
                        display: block;
                        visibility: visible; 
                    
                        
                    }
                    
                }
            }


            //SUBMENU
            .se2-sub-menu { 
                display: none;
                visibility: hidden; 
                position: absolute;
                top:75px;
                z-index:5;
                min-width:fit-content;
                margin-left:-20px;
                list-style-type: none;
                background-color: var(--primeColor);
                color: var(--secondColor);
                border-bottom: 1px solid var(--midColor);

                @include breakpoint( 's' ){
                    display: block;
                    visibility: unset; 
                    position: unset;
                    color: var(--midColor);
           
                    border-bottom: unset;
                    margin-left:0;
                    color: var(--primeColor);
                    background-color: var(--shadeColor);
                }

                li {
                    padding: 5px 20px;
                    text-decoration: none;
                    @include breakpoint( 's' ){
                        background-color:  var(--secondColor);
                        border-radius:5px;
                        padding: 5px 10px;
                        margin:4px 0 ;
                    }
                    
                    &:hover {
                        background-color: var(--secondColor);
                        color: var(--primeColor);
                    }

                    
                }

                .se2-current {
                    background-color:$secondary;
                    @include breakpoint( 's' ){
                         color: $primaryText;
                         background-color: $secondary !important;
                    }
                }
            }
        }
    }

     //BURGERMENU
     #burger-menu {
          position: fixed;
          top: 5vw;
          right: 5vw;
          height: 8vh;
          width: 10vw;
          z-index: 1000;

          
               .active-menu {
                    stroke: var(--primeColor) !important;
               }
          
     }

    //------------------------------
    //DARKMODE SWITCH
    //------------------------------
    #extramenu {
          position: fixed;
          top:0;
          display: flex; 
          flex-direction: row;
          margin-right:20px;
          padding:0 0 0 10px;
      
          background-color: var(--primeColor);
          
          @include breakpoint( 's' ){
               position: absolute;
               bottom:10px;
               top: unset;
               width: 100%;
               justify-content: center;
     
          }

          #modebutton, #languagebutton a button {
               min-width:20px;
               text-transform: uppercase;
               padding:5px 15px 5px 10px;
          }
          #languagebutton {
               a button {
                    padding-right:5px 10px;
               }
               
               a {
                    &:last-of-type {
                         padding-right:10px;
                         margin-right:10px;
                         border-right: 1px solid var(--midColor);
                    }
               }
               
          }
          
          #header_anmeldebutton {
               background-color: $secondary;
               color:white;
               height:100%;
               
               font-weight: 800;
               padding:6px 10px;
               text-transform: uppercase;
          }
       
    }
}