.se2-lineup-container{
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items:stretch;
     margin-bottom:50px;
     min-height: 40vh;
} 

#asc{
     visibility:hidden;
}

.speaker-profile {  cursor: pointer; }

.se2-speaker-grid-image {
     @include imageSettings;

}

//grid
.se2-speaker-grid-profile {
     width:24%;
     margin:.5%;
     height:auto;
     padding:2%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     border:0px solid var(--shadeColor);
     border-radius: 3px;
     
     .se2-speaker-grid-image {
          width:120px;
          height:120px;
          border-radius: 50%;
     }
     .se2-speaker-grid-content {
   
          width:100%;
          padding:15% 0 10% 0;
          opacity: 1;
          h4 { margin-bottom:5px;text-align: center; width:100%;}
          p { margin-bottom:0; line-height: 1em; text-align: center;}

     }

     &:hover {
          transform:scale(.97);
          @include dropShadow;
          .se2-speaker-grid-image { transform: scale(1.2);}
     }

     @include breakpoint( 'm' ){
          width: 49%;
      }
      @include breakpoint( 's' ){
          width: 99%;
      }
}

//list
.se2-speaker-list-profile {
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     width:100%;
     margin-bottom: 20px;
     padding:10px;
     border:1px solid var(--shadeColor);
     border-radius: 3px;
     &:hover {
          background-color: $primary;
          div p {
               color:white;
          }
     }

     .se2-speaker-profile-image {
          width: 80px;
          height:80px;
          margin-right:20px;
          border-radius: 50%;
          @include imageSettings;
     }

     .se2-speaker-list-profil-info {
          display:flex;
          flex-direction: column;
          justify-content: center;
          
          width: calc(100% - 140px);
          min-width: 220px;


          padding: 10px 0;

          h4 { margin-bottom:5px;}
          p:first-of-type { 
               color:$primary; margin-bottom:0; line-height: 1em; 
          }
          &:hover {
               p:first-of-type { 
                    color:$secondary;
               } 
          }
     }

}


//FILTER SECTION

.se2-lineup-filter-section {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     flex-wrap: wrap;
     margin-top: 20px;
     margin-bottom: 20px;
     height:auto;
     border-bottom: 3px solid var(--shadeColor);
     padding-bottom: 5px;
     

     $filterIconHeight: 20px;

     .filter-option {
          border: 2px solid var(--shadeColor);
          padding:5px 20px ;
          border-radius: 20px;
          margin-right: 10px;
          cursor: pointer;
          min-width: 100px;
          &:hover{
               @include dropShadow;
          }
     }

     @include breakpoint( 'm' ){
          justify-content:space-between;
          .filter-option { margin-top:5px; width:calc(50% - 10px); }
      }
      @include breakpoint( 's' ){
          justify-content:center;
          .filter-option { /* width:100%; */ }
          .se2-lineup-filter-view {
               margin-top:5px; 
          }
      }

     .se2-lineup-filter-sort {
          display: flex;
          flex-direction: row;
          align-items: center;
          svg{
               height:$filterIconHeight;
               width:$filterIconHeight;
          }
          p {
               margin: 0 0 0 8px !important;
               line-height: 0;
          }
     } 

     .se2-lineup-filter-view{
   
          width: fit-content;
          
          height:$filterIconHeight;
          display: flex;

          svg{
               margin-right: 8px;
               height:$filterIconHeight;
               width:$filterIconHeight;

               fill: var(--midColor);

               &:hover {
                    fill: $primary;
               }

               
          }

          .active-icon { svg {
               fill: var(--shadeColor);
               &:hover {
                    fill: $primary;
               }
          } }
     }
}

//LIGHTBOX
.speaker-lb-container {
     position: fixed;
     top:0;
     left:0;
     width:87vw;
     height:100vh;
     background-color:var(--secondColor);

     .speaker-lb-head {
          display:flex;
          flex-direction: row;
          align-items: baseline;
          flex-wrap:wrap;
          position: relative;

          .speaker-lb-image {
               width:25%;
               height:20vh;
               min-width:220px;
               min-height:250px;
               position: relative;
               @include imageSettings;

               .speaker_socialmedia {
                    width:50px;
                    height: 50px;
                    position: absolute;
                    width: 50px;
                    bottom: -60px;
                    right: 0;
               }
          }

          

          .speaker-lb-headinfo {
               width:75%;
               padding: 20px 10% 0 3%;
               max-height: 80vh;
               overflow: scroll;
               
               @include hideScrollbar;
               @include breakpoint( 's' ){
                    width: 100%;
               }
               h2 {
                    margin-bottom: 0;
               }
               h6 {
                    border-bottom: solid 2px var(--shadeColor) ;
                    margin-top:40px;
                    padding-bottom: 5px;
               }
               h3 {
                    margin:15px 0 10px;
               }
               iframe {
                    min-height:20vw;
               }

               

          }

          .speaker-lb-review-gallery {
               display: flex;
               flex-wrap: wrap;
               margin-bottom:50px;
               .se-review-img {
                    width:50%;
                    img {
                         max-width:100%;
                         max-height:100%;
                    }
               }
               .se-review-img-active {
                    position:static;
                    top:0;
                    left:0;
                    width:100vw;
                    height:auto;
                    img {
                         max-width:100%;
                         max-height:100%;
                    }
               }
          
          }
          
     }

}