.se2-lineup-container{
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin-bottom:50px;
     min-height: 40vh;
}

.speaker-profile {  cursor: pointer; }

.se2-speaker-grid-image {
     @include imageSettings;

}

//grid
.se2-speaker-grid-profile {
     width:24%;
     height:300px;
     position: relative;
     overflow: hidden;
     margin:.5%;
     .se2-speaker-grid-image {
          position: absolute;
          top:0; left:0;
          width:100%;
          height:100%;
     }
     .se2-speaker-grid-content {
          position: absolute;
          color: $light;
          top:0; left:0;
          width:100%;
          height:100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          
          padding:5% 5% 20%;
          background-color:rgba(0, 0, 0, .6);
          opacity: 0;
          h3 { margin-bottom:5px;}
          p { color:$primary; margin-bottom:0; line-height: 1rem; }

     }
}

//list
.se2-speaker-list-profile {
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     width:100%;
     margin-bottom: 20px;
     
     background-color:var(--shadeColor);
     border-right: 2px solid var(--midColor);

     .se2-speaker-profile-image {
          min-width: 80px;
          width: 20%;
          max-width:150px;

          min-height:120px;
          height:15vh;
          max-height:250px;

          margin-right:10%;
          @include imageSettings;
     }

     .se2-speaker-list-profil-info {
          display:flex;
          flex-direction: column;
          justify-content: flex-end;
          
          max-width:65%;
          padding: 10px 0;

          h3 { margin-bottom:0;}
          p { color:$primary; margin-bottom:0; line-height: 1rem; }
     }

}


//FILTER SECTION

.se2-lineup-filter-section {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     margin-top: 20px;
     margin-bottom: 20px;
     height:30px;
     border-bottom: 3px solid var(--shadeColor);
     padding-bottom: 5px;

     $filterIconHeight: 20px;

     .se2-lineup-filter-sort {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 20px;
          cursor:pointer;
          svg{
               height:$filterIconHeight;
               width:$filterIconHeight;
          }
          p {
               margin: 0 4px 0 8px !important;
               line-height: 0;
          }
     } 

     .se2-lineup-filter-view{
   
          width: fit-content;
          
          height:$filterIconHeight;
          display: flex;

          svg{
               margin-right: 8px;
               height:$filterIconHeight;
               width:$filterIconHeight;
               cursor: pointer;
               fill: var(--midColor);

               &:hover {
                    fill: $primary;
               }

               
          }

          .active-icon { svg {
               fill: var(--shadeColor);
               &:hover {
                    fill: $primary;
               }
          } }
     }
}

//LIGHTBOX
.speaker-lb-container {
     position: fixed;
     top:0;
     left:0;
     width:87vw;
     height:100vh;
     background-color:var(--secondColor);

     .speaker-lb-head {
          display:flex;
          flex-direction: row;
          align-items: baseline;
          flex-wrap:wrap;
          .speaker-lb-image {
               width:25%;
               height:20vh;
               min-width:220px;
               min-height:250px;
               @include imageSettings;
          }
          .speaker-lb-headinfo {
               width:75%;
               padding:20px;
               max-height: 70vh;
               overflow: scroll;
               @include hideScrollbar;
               h2 {
                    margin-bottom: 0;
               }
               h6 {
                    border-bottom: solid 2px var(--shadeColor) ;
                    margin-top:20px;
                    padding-bottom: 5px;
               }
               h3 {
                    margin:15px 0 10px;
               }
               iframe {
                    min-height:20vw;
               }
          }
     }

}