.se2-partner-wall {
    @include wallContainerFlex;

    .partner-logo-box { 
        width: 22%;
        min-width:200px;
        margin: 1.5%;
    }

    .partner-cat-title {
        width:100%;
        margin: 3em 0 1.5em 0;
        h3 {
            text-align: center;
        }
    }
}

.partner-logo-box { 
    position: relative;
    background-color:var(--shadeColor);
    min-height:200px;
    img {   
        position: absolute;
        top:0;left:0;bottom:0;right:0;
        margin: auto;
        max-width:70%;
        max-height:70%;
    }

    &:hover {
        cursor: pointer;
    }
}

//------------------------------
//LIGHTBOX
//------------------------------
.partner-info {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    @include dropShadow;
    @include scrollbars( );

    color: $dark;
    background-color: $light; 
    width: 75%;
    height:fit-content;
    max-height:60vh;
    overflow-y: scroll;
    padding:50px;
    p {color: $dark;}
    img {
        max-height:150px;
        max-width:40%;
        margin-bottom:5%;
        margin-top:30px;
    }

    .partner-footer {
       
        display: flex;
        justify-content:space-between;
        align-items: flex-end;

        margin-top:40px;
        .partner-page-button {
            background-color: $primary;
            width: fit-content;
            padding: 8px 25px;
            color:white;
            border-radius: 5px;
            
            &::before{
                font-family: "dashicons";
                content:'\f11d';
                vertical-align: middle;
                padding: 0 10px 0 0;
                font-size: 20px;
            }
            &:hover {
                background-color: $dark;
                transform: scale(.95);
            }
        
        }

        .partner-socialmedia {
            position: absolute;
            top:5px;
            right: 10px;

            display: flex;
            align-items: flex-end;
            justify-content: center;
            .partner-socialmedia-icon{
                width:50px;
                opacity: .4;
                &:hover{
                    transform: scale(1.2);
                    opacity: 1;
                }
            }
        }
    }

    @include breakpoint( 's' ){
        max-height:90vh;
        padding:25px;
        img {
            max-height:150px;
            max-width:80%;
            margin-top:80px;
        }
        .partner-socialmedia-icon{
            width:30px;
        }
    }
}