.se2-people-group-title {
    text-align: center;
    margin-top: 120px;
}

.se2-people-wall {
    width: 95vw;
    max-width: 1400px;
    margin: 80px auto;
    gap: 80px 20px ;

    left:0;
    right:0;
  
    @include wallContainerFlex;

    .se2-people-box {
        width: 95%;
        max-width: 350px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: 2px solid $light-shade;
        border-radius: 10px;

        .se2-people-portrait {
            @include imageSettings;
            height: 150px;
            width: 150px;
            margin-left:20px;
            margin-top: -40px;
            border-radius: 50%;
            z-index:5;
        }

        .se2-people-content {
           
            padding: 40px 20px;
            margin-top: -20px;
            
            width: 88%;
 
            h2 {
                margin-bottom: .2em;
                font-size: 2em !important;

                @include breakpoint('s') {
                    font-size: 1.8em !important;
                }
            }

            p {
                @include breakpoint('s') {
                    font-size: 2rem !important;
                }
            }

            .se2-people-branche {
                margin-top: 2em;
                color: $primary;
                text-transform: uppercase;

                span:hover {
                    color: $secondary;
                }
            }

            .socialmedia-container {
                .socialmedia-icon {
                    fill: $dark;
                    margin-right: 20px;
                    &:hover {
                        transform: scale(1.2);
                        fill: $secondary
                    }
                }
            }
        }

        &:hover {
            @include dropShadow;
        }
    }
}