.se2-post-wall {

    @include wallContainerFlex;

    .se2-post {
        cursor: pointer;
        min-width:400px;
        width:49%;
        margin: 1% .5%;

        position: relative;
        background-color:var(--shadeColor);

        
        .se2-post-image {
            height: 200px;
            width: 100%;
            overflow: hidden;
            div{
                height:100%; width:100%;
                @include imageSettings;
            }
        }

        .se2-post-logo {
            position:absolute;
            overflow: hidden;
            width:120px;
            top:100px;
            right:10px;
            height:120px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            
            img {
                width:auto;
                height:auto;    
                max-height: 80%;
                max-width: 80%;
            }
        }

        .se2-post-content {
            margin:25px;
            h3 { margin:20px 0; text-transform: uppercase; }
        }
        
       
        &:hover {
            transform: scale(1.02);
            border-radius: 5px;
         
            .se2-post-image {
                div{ transform: scale(1.2);}
            }
        }

    }
}


//LIGHTBOX

.se2-post-lightbox {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    width: 80vw;
    min-height:40vw;
 
    height:95vh;
    overflow: hidden;
    color: $dark;
    h2, h3, p {color: $dark;}
    background-color: $light; 
    @include dropShadow;
    @include breakpoint( 's' ){
        width: 90vw;
    }

    .se2-post-lb-header {
        height:25vh;
        width:100%;
        @include imageSettings;
    }

    .se2-post-lb-content {
        position: relative;
        overflow-y: scroll; 
        @include scrollbars;
        height: 70vh;
        padding:3% 6%;
        border-top:20px solid white;
        
        .se2-post-lb-info {
            display: flex;
            flex-wrap: wrap;
            .se2-post-lb-info-left {
                width:60%;
                margin-right:3%;
                @include breakpoint( 'm' ){
                    width: 100%;
                }
            }
            .se2-post-lb-info-right {
                width:37%;
                @include breakpoint( 'm' ){
                    width: 100%;
                }
                .se2-post-lb-fact-table {
                    width: 100%;
                    @include breakpoint( 'm' ){
                       
                        margin-bottom: 40px;
                    }
                    tr{
                        td {
                            width: fit-content;
                            border-block-start: 50px;
                            padding:10px 20px;
                            margin:2px;
                            margin-bottom: 0;
                            vertical-align: middle;
                            &:first-of-type {
                               text-align: right;
                            }
                            &:last-of-type {
                                font-size: 1.4em;
                                font-weight: 200;
                                margin-bottom: 0;
                                border: solid $dark;
                                border-width: 0 0 1px  0;
                                
                            }
                        }
                        
                        &:last-child {
                            border-top: 15px white solid;
                            td{
                                border-width: 0 0 0 0;
                            }
                        }
                        
                    }
                    .se2-post-lb-register {
                        background-color: $secondary;
                        color: $light;
                        a {
                            display: flex; 
                            justify-content: center;
                            align-items: center;
                            &::before {
                                font-family: "dashicons";
                                content: "\f464";
                                vertical-align: middle;  
                                padding-right:10px;
                                font-size: 120%;
                            }
                            &:hover, &:active, &:visited, &:focus {
                                text-decoration:none !important;
                                color: $light;
                                cursor: pointer !important;
                            }
                        }
                        &:hover {
                            background-color: var(--dark);
                            transform: scale(1.05);
                            cursor: pointer !important;
                        }
                        
                        
                    }
                }
            }

            h2 {margin: 20px 0 10px 0; }
        }
        
    }

    

    .se2-post-lb-gallery {
        height:30vh;
        position: relative;
        width:100%;
        
        background-color:black;
        img{
            position: absolute;
            top:0;left:0;right:0;bottom:0;
            margin:auto;
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
        }
        .thumb-nav{
            position: absolute;
            bottom:10px;left:0;right:0;
            margin:auto;
            width:50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            .thumb-dot {
                height:8px; width:8px;
                border:2px solid white;
                border-radius: 4px;
                margin:1%;
                @include dropShadow;
                &:hover {
                    cursor: pointer;
                    border-color: $secondary;
                }
            }
            .thumb-dot-current {
                background-color:white;
                border-color: white !important;
            }

            

        }

        //ARROWS
        .gallery-arrow {
            border: solid white ;
            border-width: 2px 2px 0 0;
            height:20px;
            width:20px;
            position: absolute;
            margin:auto;
            top:0; bottom:0;
            &:hover {
                cursor: pointer;
            }
        }
        #gallery-arrow-left {
            left: 10%;
            transform: rotate(225deg);
        }
        #gallery-arrow-right {
            transform: rotate(45deg);
            right:10%;
        }

        //Fullscreen
        .full-screen {
            position: absolute;
            top:20px; right:20px;
            height:25px;
            width:25px;
            &:hover{
                cursor:pointer;
            }
            img { 
                opacity: 1 !important; 
                height:100%;
                width:100%;
            }
        }
    }
}

.se2-post-wall-categories {
     
     margin-top:25px;
     margin-bottom:25px;
     min-height:25px;
     border-bottom: solid 1px var(--primeColor);

     span {
          margin-right:10px;

          &:hover {
               cursor: pointer;
               color: $secondary;
          }
     } 
     .active-year {
          font-weight: 800;
     }
}

//COMPANY
.se2-post-lb-company-content {
    width:100%;
    height:100%;
    overflow-y: scroll;
    @include hideScrollbar;

    .se2-post-header {
        @include imageSettings;
        width:100%;
        height:45%;
    }

    .se2-post-lb-company-post {
        padding: 6%;
    }
    .se2-post-lb-company-info {
        padding:6%;
        background-color:var(--shadeColor);
        position: relative;

        .se2-post-logo {
            position:absolute;
            overflow: hidden;
            width:120px;
            top:-40px;
            right:5%;
            height:120px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            @include dropShadow;
            img {
                width:auto;
                height:auto;    
                max-height: 80%;
                max-width: 80%;
            }
        }

        h3 { margin-bottom:0; max-width:85%; }
        .since {color:$primary;}
        
        .se2-post-lb-company-button {
            background-color:var(--primeColor);
            color:var(--secondColor);
            width:fit-content;
            padding:10px 20px;
            border-radius: 3px;
            margin-top:20px;
            &:hover {
                background-color:$primary;
                transform: scale(1.05);
            }
        }
    }
}