//QOUTES
.signle-page-quotes {
    margin: 40px 0;
    li {  
        display: flex;
        
        align-items: center;
        justify-content: center;
    } 

    
}

.signle-page-quote {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:80%;
    padding:60px 0;
    
    h3 { 
        text-align: center; 
        margin-bottom:10px;
        
    }
    p { 
        text-align: center; 
        justify-self: right;
        line-height:1.4em;
        opacity: .8;
    }
}