.socialmedia-container{
     display:flex;
     flex-direction: row;

     .socialmedia-icon {
          fill:var(--primeColor);
          width: 20px;
          height:20px;
          margin-right:10px;
          &:hover {
               fill: $secondary;
          }
     }

}