//COLORS

$primary: var(--primary);
$primaryText: #FFFFFF;
$secondary: var(--secondary);

.primary-txt { color: $primary; }
.secondary-txt { color: $secondary; }

//shades
$dark: var(--dark);
$dark_shade: var(--darkshade);

$light: var(--light);
$light_shade:var(--lightshade);

.primary-txt { color: $primary; }
.secondary-txt { color: $secondary; }
.dark-txt { color: $dark; }
.dark-shade-txt { color: $dark_shade; }
.light-txt { color: $light; }
.light-shade-txt { color: $light_shade; }

body {
    background-color: var(--shadeColor);
    
    
    &.light {
        --primeColor: #{$dark};
        --secondColor: #{$light};
       
        --midColor: #{$dark_shade};

        --shadeColor: #{$light_shade};
    }
    &.dark {
        --primeColor: #{$light};
        --secondColor: #{$dark};
        
        --midColor:  #{$light_shade};

        --shadeColor: #{$dark_shade};
    }
}


@mixin imageSettings {
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.imageSettings { @include imageSettings; }

@mixin wallContainerFlex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center; 
}

@mixin dropShadow {
    -webkit-box-shadow: 1px 1px 26px -2px rgba(0,0,0,0.2); 
    box-shadow: 1px 1px 26px -2px rgba(0,0,0,0.2);
}
.dropShadow { @include dropShadow }