
.container {
    color:#4e5658;
    margin: 0 150px;
    width:  800px;
    
}
h1 {
    font-size: 18pt;
}
h2 {
    font-size: 13pt;
    line-height:1.2;
}
h3 {
    font-size: 11pt;
    line-height:1.2;
}

p {
    font-size: 9pt;
    line-height: 1.2;
}

table {
    margin-left: 5cm;
}

.schedule-row {
    padding-top: 0;
   
    border-bottom: 1px solid #cfcfcf;

}

.filler {
    background-color: #f1f1f1;
    
}


.show {
    background-color: #e5e5e5;
}