.se-settings-container {
     background-color:#fff;
     max-width: 90%;
     margin-left: 2%;
     padding:2%;
     border-radius: 5px;
}
.se-settings-container h2{
     background-color:#f1f1f1;
     padding:15px 5px 5px 5px;
     border-radius:5px;
}

.form-table { 
     border:1px #f1f1f1 solid;
     border-radius: 5px;
 }

 .form-table tbody{
     padding: 2%;
     /* width: 50%; */
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: flex-start;
     justify-items: stretch;

 }
 .form-table tr {
     padding: 20px 10px 20px 10px ;
     width: 48%;
     min-width: 350px;
 }
 .form-table th {
      width: 100px;
 }

 .se-settings-container input {
     border-radius: 0;
    /* background-color: #f1f1f1; */
    border-width: 0 0 1px 0;
 }

 .se-settings-container input:focus {
     border-width: 0 0 1px 0;
     border-color: violet;
 }
 .se-settings-container input[type="button"] {
 width: 50% !important;
 margin-bottom:10px;
 border-radius:0;
 background-color: #1c1c1c;
 color: white;
 }

 .se-settings-container textarea {
     width: 300px !important;
     border: 0;
     background-color: #f1f1f1;
     border-radius:0;
 }

 .image-preview {
     padding:20px;
      margin-bottom:20px;
      max-width:75%;
      max-height:60px;
      border:2px solid rgba(50, 50, 50, .1);
 }
 .image-preview img {
     max-width:100%;
     max-height:60px;
}

.image-neg {
     
     background-color: #1c1c1c;
     opacity: 0.4;
     background-size: 20px 20px;
     background-image: repeating-linear-gradient(45deg, #1c1c1c 0, #1c1c1c 6px, #000000 0, #000000 50%);
       
}