/*HEADER IMAGE*/
.header-image {
    min-height:50vh;
    height:fit-content;
    padding-top: 150px;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
