.testimonial-portrait {
    @include imageSettings;
}
.testimonial-text{
    color:var(--midColor)  !important; 
    
    p {
        margin-top: 1em;
        color:var(--midColor)  !important; 
    };
}

.infobox-front {
    @include dropShadow;
}