
.testimonial-text{
    color:$primaryText !important; 
    background-color:$primary;
    p {
        margin-top: 1em;
        color:$primaryText !important; 
    };
}

.infobox-front {
    @include dropShadow;
}