.reference {
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
}

.se-reference {
     width: 18%;
     position: relative;
     height:20vh;
     margin:1%;
     background-color:white;
}

.se-reference img {
     position: absolute;
     top:0; right:0; bottom:0; left:0;
     margin:auto !important;
     max-width:80%;
     max-height: 80%;
}